<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<% if (styles && styles.length) { %>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="<%= style %>">
    <% }); %>
<% } %>
<% if (scripts && scripts.length) { %>
    <%- scripts.join("\n") %>
<% } %>